html,body
{
    background-color:#656bfd;
    box-sizing: border-box;
}

#section1
{
    background: url("../Media/landing/landing back.svg") no-repeat center fixed;
    background-size:100% 100%;
    opacity: 0.9;
    
}

#logo
{
    position: fixed;
    padding-top: 30px;
    width: 5%;
    z-index: 1000;
    opacity: 0.3;
    left: 60px;
    
}
#logoImg{
    left: 40px;
    position: relative;
    top:20px;
}

#menu
{
    font-size: 80px;
    right: 40px;
    position: fixed;
    text-align: right;
    width: 5%;
    padding-right:10px;
    z-index: 1000;
    color: #140E0E;
    
}

.menu-dugme {
    background-color: #656bfd;    
    color:white;
    font-size: 80px;    
    padding: 16px;
    border: none;
    cursor: pointer;
}


.menu-sadrzaj {
    display: none;
    position: absolute;
    right: 0;
    background-color:#656bfd;
    color:white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 20px;
}

.menu-sadrzaj a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-sadrzaj a:hover {
    background-color: #f1f1f1;
    color:black;
}

#menu:hover .menu-sadrzaj {
    display: block;
}


.sectionScreen
{
    height: 95vh;
    width: 95vw;
    margin: 1.5vh 1vw;

}
.centar{
    top:40%;
    left:0%;
    position: relative;
    text-align: center;
    
}
.half{
    float:left;
    width: 50%;
    height: 100%;
    background-color: white;
    
    
}

.frontImage{
  
    position:absolute;
    bottom: 0;
}
.half1{
    background: white url('../images/ux_ui_section_main.png') no-repeat center;
    position: relative;
    
}
.half2{
    background: white url('../images/web_development.png') no-repeat center;
    position: relative;
}
.half3{
    background: white url('../images/mobile_development.png') no-repeat center;
    position: relative;
}


.ffrontImage{
    z-index: 300;
    max-width:30%; 
    height:auto;
    position: absolute; 
    left:650px;
}

.ux{
    top:40%;
    left:0%;
    position: relative;
    text-align: justify;
    font-size: 25;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 150px;
    
}
.ux_naslov{
    font-size: 40;
    top:40%;
    left:0%;
    position: relative;
    text-align: justify;
    padding-left: 150px;
    font-family:sans-serif;
    font-weight: bold;


}

#section6{
    background: white url('../Media/team/brain fill.svg') no-repeat center;
    position: relative;
}


.bossImage{
   
   position: absolute;
   max-width: 150px;
   left: 46%;
   bottom: 0px;
   margin: auto auto;
  
}

.boss{
    width: 18%;
    height:300px;
    border: 1px;
    position: relative;
    text-align: center;
    display: inline-block;
    top:170px;
    left:380px;
}
.slika{
    position: relative;
    left:180px;
    top:40px;
}
.plava_traka{
    width: 100%;
    height: 100px;
    background-color: #656bfd;
    position:absolute;
    bottom: 250px;
    opacity: 0.9;

}

.amir{
    float:left;
    font-size:20px;
    position:relative;
    left: 520px;
    color: white;
    text-align: center;
}
.edin{
    float:left;
    font-size:20px;
    position:relative;
    left:710px;
    text-align: center;
    color: white;
}
.senad{
    float:left;
    font-size:20px;
    position:relative;
    left:950px;
    color: white;
    text-align: center;
}
.button{
    background-color:white; color: black;
    border-radius: 8px;
    border: 2px solid #C4CAC4;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    left:660px;
    top:750px;
   

}
#section7{
    background-color:#232020;
}
.sedam{
    top:20%;
    left:0%;
    position: relative;
    text-align: center;
    font-size: 30;
    color:white;
    
}
.form{
    width: 30%;
    height: 50px;
    cursor: pointer;
    background-color:#232020;
    border-bottom:2px solid white;
    border-top: none;
    border-left:none;
    border-right:none;
}
#send{
    border-left:2px solid white;
    border-right:2px solid white;
    color:#232020;
    background-color: white;
    margin:70px;
}

#saburly{
    color: #656bfd;
}
.footer{
    position: relative;
    text-align: center;
    font-size: 20;
    color:white;
}
.imgfooter{
    width: 3%;
}
.bossName{
    position: relative;
    margin-left: 150px;
    margin-top: 120px;
    color: #656bfd;
    font-size:25;
}
.team{
    font-style:italic;
    font-size: 50;
    color: #656bfd;
    left:150px;
    top:50px;
    position: relative;
}
#section5{
    position: relative;
}
.gallery_description{
position: absolute;
bottom: 50px;
left: 100px;
color:white;
font-size: 20;
}

.centar_slika{
position: relative;
left:350px;
top:100px;
height:600px;
}
.galerija{
  max-width: 800px;
  width: 100%;
 
}

